footer {
    background-color: darkgray;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    padding: .75em;
    text-align: center;
    color: black;
    font-size: 12px;
    font-style: italic; 
    }