header{
    background-image: linear-gradient(to right, #910218, #9197AE);
    color: black;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:fantasy;
    font-size: 30px;
    border-radius: 5px;
    
}


header img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}


.title {
    margin: 0;
    background-image: linear-gradient(to bottom left,  #273043, #9197AE); 
    background-image: linear-gradient(45deg, #220202 , #273043);
    background-clip: text;
    color: transparent;
    
}

a {
    font-size: 16px; 
    margin-right: 10px;
    background-image: linear-gradient(to bottom left,  #273043, #9197AE); 
    background-image: linear-gradient(45deg, #1d0f0f , #1d0f0f);
    background-clip: text;
    color: transparent;
    text-decoration: none;
}


