

<div class="card float-end position-absolute top-0 end-0" style="width: 20rem; height: 25rem; margin-top: 8rem;">
    <div class="card-body">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let phonePlan of phonePlans">
                    <tr>
                        <td>{{ phonePlan.phoneLines }}-line {{ phonePlan.dataLimit }}gb</td>
                        <td>${{ phonePlan.cost }}</td>
                    </tr> 
                <ng-container *ngFor="let device of devicesOfCust">
                    <tr>
                        <td>{{ device.brand }} {{ device.name }}</td>
                        <td>${{ device.price }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>