.card {
    background-color: #9197AE;
    border-color: black;
    font-family: fantasy;
}

.card input.form-control {
    border-color: black;
}

.btn-primary {
    background-color: #910218;
    border-color: black;
    -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

.btn-light {
    border-color: black;
}

label, input {
    display: block;
}

span {
    font-size: small;
    color: red;
    font-style: italic;
    margin: 0em 0em 0em 7em;
}

.credSpan {
    display: block;
    margin: 0em 7em 0em 0em;
}
